h2{
	font-size: 40px;
	color: red;
}
td{
	 font-style: italic
}
p{  text-transform: uppercase
}
tr{
	background-color: green

}
td[data-cell="r_informat."] {
  background-color: pink;
  border: 2px solid red;
}
