ul
{
	float: left;
	list-style: none;
}
li a
{
display: block;
font-size: lem;
text-align: center;
text-decoration: none;
color: white;
background-color: gray;
padding: 5px 10px;
margin: 5px 0px 4px 0px;
border-radius: 4px;
box-shadow: 3px 3px 3px silver;
}

li a:hover
	{
	background: silver;
	box-shadow: 0px 0px 0px;
	}
#naglowek
	{
	background: gray;
	text-align: center;
	min-height: 200px;
	background-image: url("Prus.jpg");
	}
#menu
	{
	float:left;
	width: 20%;
	}
#informacje
	{
	float: left;
	width: 70%;
	background: silver;
	padding:60px;
	margin: 5px 5px 5px 5px;
	min-height: 100%;
	}
#stopka
	{
	clear: both;
	background: gray;
	text-align: center;
	min-height: 50px;
	}
